body {
    font-family: Arial, sans-serif;
    margin: 40px;
    line-height: 1.6;
}

h1 {
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #0047ab;
}

a:hover {
    text-decoration: underline;
}

.title {
    padding: 30px;
    margin: 0;
    color: white;
    text-align: center; 
    background-color: rgb(0, 0, 0)
}

.nav-buttons ul {
    padding: 0;
    text-align: center;
}

.nav-buttons li {
    margin: 45px 0;
}

.btn {
    display: inline-block;
    padding: 25px 30px;
    font-size: 1.5em;
    background-color: rgb(131, 131, 239);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.btn:hover {
    background-color: rgb(100, 100, 220);
    transform: translateY(-5px);
}

.btn:active {
    transform: translateY(0);
}

.back{
    display: inline-block;
    padding: 10px 30px;
    font-size: 1.0em;
    background-color: rgb(131, 131, 239);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.main{
    padding: 20px;
}

