body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(to bottom, #378c9a, #ffffff);
}

h1 {
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #0047ab;
}

.title {
    padding: 30px 0 0 0;
    margin: 0;
    color: white;
    text-align: center; 
}

.nav-buttons ul {
    padding: 0;
    text-align: center;
}

.nav-buttons li {
    margin: 45px 0;
}

.btn {
    display: inline-block;
    padding: 25px 30px;
    font-size: 1.5em;
    background-color: rgb(161, 161, 161);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.btn:hover {
    background-color: rgb(95, 95, 95);
    transform: translateY(-5px);
}

.btn:active {
    transform: translateY(0);
}

.back{
    display: inline-block;
    padding: 10px 30px;
    font-size: 1.0em;
    background-color: rgb(161, 161, 161);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.back:hover{
    background-color: rgb(95, 95, 95);
    transform: translateY(-3px);
}

.main{
    padding: 20px;
}

