{% extends "base.html" %}

{% block title %}affixation{% endblock %}

{% block content %}
  <h1 class="title">Affixation</h1>

  <div class="main">
    <hr>

    <h2 class="Header">Definition</h2>
    <h4>
      Affixation is the morphological process by which an affix (a bound morpheme) attaches to a morphological root (free morpheme).
    </h4>

    <h2 class="Header">Characterization</h2>
    <h4>
      There are two types of affixes that are used to create new words: prefixes and suffixes. Prefixes are, usually, bound morphemes that occur before the root and suffixes are bound morphemes that occur after.
      <br><br>

      New word formations can occur in both prefixes and suffixes. However, we see suffixes used for new word formations more frequently than prefixes. Suffixes can alter a word's lexical category (Katamba 59). For example, inhabit is a verb meaning to occupy a space. If we add the suffix -ant, we get the noun inhabitant meaning a person or thing that occupies a space. Likewise if we have the noun doubt meaning to not fully believe in something and add the suffix -ful, we get the adjective doubtful. Suffixes can also modify a V to ADJ, N to V, ADJ to V, ADJ to ADV, and even a N to N (million to millionaire), V to V (chat to chattering) and ADJ to ADJ (blue to bluish) (Katamba 59-62).
      <br><br>

      An example of a new word formed by a prefix is "re-re-remake," whereas the bound morpheme -re is attached to the beginning of "make," several times, to illustrate something being remade three times. As in, DoorDash had to re-re-remake my order, which was irritating. An example of a new word forming by suffixation is "annoyedly." The bound morpheme is attached to the end of the word "annoyed," shifting the word into an adverb. He annoyedly paid for the $10 carton of eggs.
    </h4>

    <h2 class="Header">Examples</h2>
    <h4>
      <strong>• co-habit</strong>
      <br><br>

      <strong>• ex-wife</strong>
      <br><br>

      <strong>• mismanage</strong>
      <br><br>

      <strong>• reissue</strong>
      <br><br>

      <strong>• dishonorable</strong>
      <br><br>

      <strong>• innumerable</strong>
      <br><br>

      <strong>• intoxicant</strong>
      <br><br>

      <strong>• cyclist</strong>
      <br><br>

      <strong>• corrosion</strong>
      <br><br>

      <strong>• radiation</strong>
    </h4>

    <a class="process-box back-box" href="{{ url_for('processes') }}">
      &larr; Back to Word Formation Processes
    </a>
  </div>
{% endblock %}