{% extends "base.html" %}

{% block title %}eponymy{% endblock %}

{% block content %}
  <h1 class="title">Eponymy</h1>

  <div class="main">
    <hr>

    <h2 class="Header">Definition</h2>
    <h4>
      An eponymy is a type of word formation in which words are formed from proper nouns. These proper
      nouns are usually formed from people or places, fictitious or actual.
    </h4>

    <h2 class="Header">Characterization</h2>
    <h4>
      Eponymy works together with other word formation processes to achieve new word formations. The
      most common of these processes conjoined with eponymy is conversion. Proper nouns are converted
      into a common nouns. Take the following three examples:
      <br><br>

      Leotard- named after French acrobat Jules Leotard
      <br><br>

      Jules Leotard(Proper N)&gt;&gt;&gt;leotard(common N)
      <br><br>

      (Lalić 64)
      <br><br>

      Pavlova- named after Russian ballerina Anna Pavlova
      <br><br>

      Anna Pavlova(Proper N)&gt;&gt;&gt;pavlova(common N)
      <br><br>

      (Lalić 64)
      <br><br>

      Silhouette- named after French finance minister Étienne de Silhouette
      <br><br>

      Étienne de Silhouette(Proper N)&gt;&gt;&gt;silhouette(common N)
      <br><br>

      (Lalić 64)
      <br><br>

      Many eponyms are further lexically transformed into verbs. Take the noun and verb boycott,
      meaning to actively ostracize an opposing viewpoint or polarizing figure(s) one regards as
      unfair. The etymology of boycott originated in 1880 Ireland (Britannica). During the first land
      agitation, rent was increasing and land evictions were causing turmoil throughout the country
      (Britannica). Charles Stewart Parnell began a public shunning of British estate manager, Charles
      Cunningham Boycott (Britannica). Irish tenants followed Parnell in an active boycott
      (Britannica). We see the transition of boycott from Boycott(proper N), boycott(N), to boycott(v).
      <br><br>

      Eponyms in the science and medical fields are highly effective. This is because doctors and
      scientists who discover a disease, treatment, procedure, etc., tend to name their discoveries
      after themselves (Anderson 174). Examples of this are Bell's Palsy, named after Scottish surgeon
      and neuroanatomist Sir Charles Bell, fallopian tube named after anatomist Gabriel Fallopius, and
      Petri dish invented by the German bacteriologist Julius R. Petri (Anderson 174).
      <br><br>

      Affixation and eponymy is also a productive word formation process, especially in the fields of
      chemistry , mineralogy, and biology (Lalić 65). Below is a chart displaying nominal eponyms
      formed from suffixation involving chemistry, mineralogy, and biology terms.
      <br><br>

      The table below displays eponyms created by suffixation that are inspired by philosophers,
      politicians, and, sociologist.
      <br><br>

      Eponymy can also be paired with blending (gerrymandering from American politician Elbridge
      "Gerry" and (sala)mander) and clipping (knickers from Knickerboxers named after Washington
      Irving's fictional character Dietrick Knickerbocker) (Lalić 66).
    </h4>

    <h2 class="Header">Examples</h2>
    <h4>
      <strong>• America</strong> – Amerigo Vespucci
      <br><br>

      <strong>• Caesar Salad</strong> – restauranteur Caesar Cardini
      <br><br>

      <strong>• Fahrenheit</strong> – physicist Daniel Fahrenheit
      <br><br>

      <strong>• Cardigan</strong> – 7th Earl of Cardigan
      <br><br>

      <strong>• Nicotine</strong> – Jean Nicot
      <br><br>

      <strong>• Diesel</strong> – German inventor Rudolph Diesel
      <br><br>

      <strong>• Sideburns</strong> – Ambrose Burnside
      <br><br>

      <strong>• Mason jar</strong> – tinsmith John Landis Mason
      <br><br>

      <strong>• Freudian slip</strong> – psychologist Sigmund Freud
      <br><br>

      <strong>• Teddy Bear</strong> – American president Theodore Roosevelt
    </h4>

    <a class="process-box back-box" href="{{ url_for('processes') }}">
      &larr; Back to Word Formation Processes
    </a>
  </div>
{% endblock %}

