{% extends "base.html" %}

{% block title %}reduplication {%endblock %}

{% block content %}
  <h1 class="title">Reduplication</h1>

  <div class="main">
    <hr>

    <h2 class="Header">Definition</h2>
    <h4>
      A word formation process in which the base word is repeated either partially or entirely.
    </h4>

    <h2 class="Header">Characterization</h2>
    <h4>
      The most significant property of reduplication are phonological factors (Katamba 73). How the
      base sounds in repetition, either partial or complete, is key in its productivity.
      <br><br>

      There are two different types of reduplication: partial and complete. In the complete
      duplication formation, the entire base is duplicated, such as pooh-pooh (Mattews 135).
      Partial reduplication occurs in a variety of forms. The vowel of the base can be lengthened,
      the consonant doubled, or the entire base nearly copied (Rubino). Simply put, the base is
      only partially duplicated. The chart below shows examples of both partial and complete
      reduplications.
      <br><br>

      Many complete reduplications come from "baby-talk." Parents tend to introduce certain words
      to their infants via complete reduplication. Everything from ma-ma-, da-da, bye-bye-, ba-ba,
      and night-night are terms often said to babies to simplify the language and prompt
      understanding.
      <br><br>

      There are also rhyme motivated compounds and ablaut motivated compounds. In rhyme motivated
      compounds, both words making up the compound rhyme (Katamba 73). Most rhyming reduplications
      are formed by both bases not qualifying as independent words (Katamba 73). There are rhyme
      motivated compounds that are formed by both bases being pre-existing words, such as
      black-jack and brain-drain (Katamba 73). Ablaut motivated compounds signal a change in the
      root vowel (Katamba 73). Katamba notes that usually ablaut reduplications indicate a change
      in grammatical function (Katamba 73). The chart below shows examples of both rhyme and
      ablaut motivated compounds.
      <br><br>

      People also use reduplication to emphasize contrast in what is called contrastive focus
      reduplication (Ghomeshi 307). In this process, the reduplication "is used as one way to
      clarify such situations, by specifying a prototypical denotation of the lexical item in
      contrast to a potentially looser or more specialized reading" (Ghomeshi 311). Take the
      following examples:
      <br><br>

      It's tuna salad, not salad-salad (Ghomeshi 311)
      <br><br>

      You're not sick-sick, are you?
      <br><br>

      He's not a dog-dog, he's a Pomeranian.
      <br><br>

      Notice in the above examples the reduplications are clarifying the category of the object
      of the sentence. A typical salad is not a tuna salad and the model dog is not a small, cute
      Pomeranian. Thus, the reduplication is simplifying their intended use of the object's
      category.
      <br><br>

      Lastly, reduplication can be used to get a point across in what's called intensive
      reduplication (Ghomeshi 309). In this type of reduplication the same base is repeated,
      usually three times, to convey a strong message. The following examples illustrate this
      point.
      <br><br>

      All you think about is you, you, you.
      <br><br>

      He kept telling himself, win, win, win.
      <br><br>

      Rain, rain, rain- all week!
      <br><br>

      The repetition of the base fixates and intensifies the message.
    </h4>

    <h2 class="Header">Examples</h2>
    <h4>
      <strong>• choo-choo</strong>
      <br><br>

      <strong>• zig-zag</strong>
      <br><br>

      <strong>• sing-song</strong>
      <br><br>

      <strong>• willy-nilly</strong>
      <br><br>

      <strong>• okey-dokey</strong>
      <br><br>

      <strong>• hanky-panky</strong>
      <br><br>

      <strong>• pitter-patter</strong>
      <br><br>

      <strong>• riff-raff</strong>
      <br><br>

      <strong>• ping-pong</strong>
      <br><br>

      <strong>• nitty-gritty</strong>
    </h4>

    <a class="process-box back-box" href="{{ url_for('processes') }}">
      &larr; Back to Word Formation Processes
    </a>
  </div>
{% endblock %}
